body {
    position: relative;
}

html, body {
    width: 100%;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.left {
    width: 20%;
    height: 500px;
    float: left;
    position: relative;
}

.main .left ul {
    list-style: none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
    position: fixed;
    width: 200px;
    background-color: transparent;
    border: 0px;
    top: 90px;
}

.left ul li {
    text-align: right;
    line-height: 30px;
}

.left a {
    color: #444;
    text-decoration: none;
}

.center {
    width: 80%;
    float: right;
    right: 0px;
}

.nav-header.top {
    width: 100%;
    height: 9%;
    color: white;
    display: block;
    background-color: #444;
    padding-top: 1px;
    top: 0px;
}

.container.body {
    margin-top: 10px;
    width: 90%;
}

h3 {
    margin-top: 13px;
    margin-left: 5px;
}

h4 {
    margin: 0px;
}

.table {
    margin-top: 10px;
    margin-bottom: 10px;
}

.operation {
    padding: 2px;
    width: 158px;
}

.thumbnail {
    float: left;
    width: 250px;
    margin-left: 20px;
}

img {
    height: 200px !important;
    width: 255px !important;
    margin-bottom: 10px;
}

.img-circle {
    height: 235px !important;
    width: 235px !important;
    margin-bottom: 10px;
}

.row {
    margin-bottom: 10px;
}

.col-md-4 {
    margin: 0px 0px;
}

.bg-info {
    height: 30px;
    padding-top: 7px;
    padding-left: 5px;
}

.caption p {
    color: #444;
}

label.col-sm-2.control-label {
    color: #666;
    font-family: '宋体';
    font-size: 15px;
}

input.form-control {
    color: #444;
}
